::-webkit-input-placeholder {
   opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
   opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */ 
	opacity: 1;   
}

:-ms-input-placeholder {  
   opacity: 1;   
}
html {
	height: 100%;
}
body {
	font-family: 'Istok Web', sans-serif;
	background-color: #404040;
	background-image: url('../img/background_dark.png');
	background-size: 100% auto;
	background-attachment: fixed;
	color: #414141;
	margin: 0;
	height: 100%;
}
a {
	text-decoration: none;
	color: #414141;
	transition: margin 1s;
}
h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 10px;
	z-index: 2;
	color: #fff;
}
h1 span {
    color: #B163A3;
}
#settings {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
	font-size: 0;
	background-image: url(/img/gear.svg);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #B163A3;
	height: 20px;
	width: 20px;
	padding: 5px;
	z-index: 2;
}
#settings:hover  .inner_menu{
	display: block;
}
.inner_menu {
	display: none;
	background-color: #B163A3;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 30px;
}
.inner_menu a {
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    width: 100px;
}
.inner_menu  a:hover {
	background-color: #333;
}
a#edit {
    background-image: url("/img/edit.svg");
    background-size: 20px auto;
    display: inline-block;
    font-size: 0;
    height: 20px;
    vertical-align: middle;
    width: 20px;
	margin-left: 10px;
}
.text_container form {
	width: 501px;
	text-align: left;
	margin: 10px auto;
	display: block;
	line-height: 35px;
}
#your_action {
    background-color: #B163A3;
	color: #fff;
    border: medium none;
    bottom: 0;
    display: block;
    font-size: 18px;
    height: 30px;
    left: 0;
    padding: 5px;
	margin: 0;
    position: absolute;
    right: 0;
    width: calc(100% - 10px);
}
input[type="submit"] {
    background-color: #ddd;
    border: medium none;
    padding: 5px;
	cursor: pointer;
}
input[type="submit"]:hover {
	background-color: #cdcdcd;
}
.text_container {
    background-color: #FBFBFB;
    left: 50%;
    margin-left: -280px;
    padding: 50px 40px 100px;
    position: relative;
    width: 480px;
	height: auto;
	min-height: calc(100% - 150px);
}
textarea {
    border: 1px solid #CCCCCC;
    margin: 10px auto;
    padding: 10px;
    width: 480px;
	height: 100px;
	vertical-align: middle;
}
.text_container input {
	border: 1px solid #CCCCCC;
    margin: 10px auto;
    padding: 10px;
}
.text_container input[type="text"]:focus {
	width: 300px;
}
.alert {
    background: none repeat scroll 0 0 #5FFF5F;
    display: table;
    padding: 10px;
    position: absolute;
}
label {
    display: inline-block;
    width: 150px;
}
table {
    margin-left: -240px;
    width: 960px;
	background-color: #fff;
}
tbody img {
    background-color: #FDFDFD;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}
td {
    background-color: #DFDFDF;
}
tr[x-last_message="*"] td {
    border-bottom: 2px dashed #AAAAAA;
}
tbody tr[x-href] {
	cursor: pointer;
}
tbody tr[x-href]:hover  td{
	background-color: #ccc;
}
thead td {
    font-weight: bold;
    text-align: center;
}
.form_submit {
	float: right;
	background: #f7f7f7;
	padding: 5px;
}
h2 {
	font-size: 20px;
}
h2 img {
    display: block;
    margin: -10px auto 10px;
    width: 200px;
}
center {
    clear: both;
    font-weight: bold;
    margin-top: 20px;
}
.suggestion_box {
    bottom: 35px;
    left: 0px;
    position: absolute;
	font-size: 18px;
	color: #ddd;
	height: 40px;
	overflow: hidden;
	width: 100%;
	white-space: pre;
}
.suggestion_box span {
	background-color: #B163A3;
	padding: 5px;
	cursor: pointer;
	margin: 0 2px;
}
.suggestion_box span:first-child {
	margin-left: 0;
}
.suggestion_box span:hover, .suggestion_box span.active {
    background-color: #8C3E7E; 
}
.suggestion_box b {
	color: #fff;
}
.suggestion_right:hover,.suggestion_left:hover {
	background-color: #808080;
}
.suggestion_left {
    bottom: 40px;
    font-size: 26px;
    left: -20px;
    position: absolute;
	cursor: pointer;
}
.suggestion_right {
    bottom: 40px;
    font-size: 26px;
    right: -20px;
    position: absolute;
	cursor: pointer;
}
header {
    padding: 5px;
    position: fixed;
    right: 130px;
    top: 10px;
}
img.size_detail {
    background-color: #DDDDDD;
    height: 100px;
    position: absolute;
    right: 0;
    top: 20px;
}
.inventory_item {
    background-color: #888;
    height: 30px;
    margin: 5px auto;
    width: 30px;
	display: none;
}
.inventory_item > img {
	width: 30px;
	height: 30px;
}
.inventory_item:hover {
	background-color: #404040;
}
.inventory_item .tooltip {
    display: block;
    left: auto;
    margin-top: -35px;
    right: 63px;
}
#inventory {
    background-color: #f1f1f1;
    line-height: 20px;
    padding: 5px;
    position: absolute;
    right: 45px;
    top: 10px;
	font-weight: bold;
	z-index: 2;
}
#inventory:hover  .inventory_item {
	display: block;
}
span[x-name] {
    background-color: #ccc;
	position: relative;
}
.tooltip {
	color: #111;
    background-color: #ccc;
    font-size: 14px;
    left: 0;
    padding: 10px;
    position: absolute;
    min-width: 200px;
	z-index: 2;
}
.tooltip textarea {
	width: 200px;
}
.triangle_right {
	border-left: 10px solid #f1f1f1;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	position: absolute;
    right: -10px;
    top: 5px;
}
pre {
    white-space: pre-wrap;
}
#go_back {
    font-size: 16px;
    margin: 0 15px;
}
#size_logo {
    float: left;
    height: 60px;
    margin-right: -15px;
    margin-top: -20px;
}
.text_container h1 {
    color: #404040;
}
h1:hover #size_logo {
	animation: 0.5s ease-in 0s normal none infinite jump;
}
@keyframes jump {
	0% {
		margin-top: -20px;
	}
	50% {
		margin-top: -25px;
	}
	100% {
		margin-top: -20px;
	}
}
@-moz-keyframes jump {
	0% {
		margin-top: -20px;
	}
	50% {
		margin-top: -25px;
	}
	100% {
		margin-top: -20px;
	}
}
#previous_scene {
    color: #777777;
}

#border_left {
    background-image: url("../img/paper_tile_left.png");
	background-size: 38px auto;
    height: 100%;
    left: -38px;
    position: absolute;
    top: 0;
    width: 38px;
}
#border_right {
    background-image: url("../img/background2.png");
	background-size: 38px auto;
    height: 100%;
    right: -38px;
    position: absolute;
    top: 0;
    width: 38px;
}
#border_bottom {
    background-image: url("../img/fadeout.png");
    right: -76px;
	left: -76px;
	bottom: 0px;
	height: 68px;
    position: absolute;
	opacity: 0.75;
}
#border_top {
    background-image: url("../img/fadein.png");
    right: -76px;
	left: -76px;
	top: 0;
	height: 68px;
    position: absolute;
	opacity: 0.75;
}
@media all and (max-width : 960px) {
	body {
		background: #ddd;
	}
	#border_left, #border_right {
		display: none;
	}
	.text_container {
		width: auto;
		left: 0;
		margin: 0;
	}
	.suggestion_right, .suggestion_left {
		display: none;
	}
}