<%- include ../head.ejs %>
		<form action="../item/new" method="post">
			<label>name</label><input type="text" name="name" value="" placeholder="name"><br>
			<label>actions</label><input type="text" name="action" value="" placeholder="action"><br>
			<label>from scene</label><input type="text" name="from_scene" value="" placeholder="id"><br>
			<textarea type="text" name="text" placeholder="Describe the item"></textarea><br>
			<div class="form_submit">
				<input type="submit" value="create">
			</div>
		</form>
<%- include ../foot.ejs %>